body {
  margin: -10px;
  background-color: red;
   font-family: Georgia, serif;
}

img{
  width: 100%;
 
}

.burger{
  display: none;
}

.nav {
  position: absolute;
  top: 5px;
}

.header{
  display: flex;
  margin-top: 5px;
  padding-left: 10px;
  top: 0;
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  line-height: 0;
}


.lists{
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 23px;
  padding: 2px;
  margin-top: -53px;
  margin-left: 650px;
}

a{
  text-decoration: none;
  color: black;
}

.drop {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding: 2px;
  display: none;
}


footer{
  font-size: 20px;
  line-height: 0;
  padding: 5px;
   -webkit-text-stroke: 0.9px black;
  color: rgb(217, 212, 212);
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 8px;
}

.name :hover {
  color: #e7317c;
  -webkit-text-stroke: 0.5px black;
  transition:  ease-in 0.5s;
}

.lists :hover {
  color: #e7317c;
  -webkit-text-stroke: 0.5px black;
  transition:  ease-in 0.3s;
}

@media (max-width: 480px) {

body{
    background-color: red;
  }

.nav{
  background-color: beige;
  width: 100%;
  }

 .name {
  font-size: 13px;
  margin-left: 4px;
 }


 img {
  display: none;
 }

 .lists {
   display: none;
 }

 /*.drop {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding: 2px;
  background-color:blueviolet;
  position: absolute;
}*/
 
 /*.burger {
  display: var(--fa-display,inline-block);
  border-radius: 5px;
  padding: 8.3px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  margin-top: -45px;
  margin-left: 380px;
 }*/

.dropdown {
  position: relative;
  
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  display: block;
}

.show {display: block;}

.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
}



 i {
  font-size: 20px;
 }

 footer {
  display: none;
 }
}