body {
  margin: 0;
  padding: 0;
  background-color: white;
   font-family: Georgia, serif;
}

.header{
 margin-top: 1px;
  padding-left: 10px;
  top: 0;
  border-bottom: 2px solid black;
}

.name {
  display: flex;
  align-items: center;
  line-height: 0;
}

.bg {
  width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-image: url(/src/arenagrey.png);
    background-attachment: fixed;
    background-position: center top;
    background-size: auto;
}

.lists{
    list-style: none;
  display: flex;
  gap: 60px;
  font-size: 23px;
  padding: 2px;
  margin-top: -53px;
  margin-left: 650px;
}

a{
  text-decoration: none;
  color: black;
}

footer{
 font-size: 20px;
  line-height: 0;
  padding: 10px 30px 20px 30px;
   -webkit-text-stroke: 0.9px black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid white;
}

.HYP {
  margin: 50px 50px 20px 50px;
  background-color: white;
  opacity: 90%;
  border: 2px solid black;
  box-shadow: 5px 10px black;
  padding: 0px 15px 0px 15px;
}


h1 {
  font-size: 80px;
  border-bottom: 1px solid black;
  font-family: Gill Sans, sans-serif;
}

.dis {
  color: white;
}

p {
  font-size: 20px;
}

.name :hover {
  color: #e7317c;
  transition:  ease-in 0.5s;
}

.lists :hover {
  background-color: #e7317c;
  padding: 3px;
  color: white;
  transition:  ease-in 0.3s;
}